<mat-form-field appearance="fill" class="product-create">
    <mat-label>Name</mat-label>
    <input matInput #txtName>
</mat-form-field>


<mat-form-field appearance="fill" class="product-create">
    <mat-label>Stock</mat-label>
    <input type="number" min="0" value="0" matInput #txtStock>
</mat-form-field>

<mat-form-field appearance="fill" class="product-create">
    <mat-label>Price</mat-label>
    <input type="number" min="0" value="0" matInput #txtPrice>
</mat-form-field>

<button mat-raised-button color="primary" class="btn" (click)="create(txtName, txtStock, txtPrice)">Create Product</button>